@font-face {
  font-family: 'SFPRO500';
  src: url('@/assets/fonts/SF-Pro-Display-Medium.otf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SFPRO600';
  src: url('@/assets/fonts/SF-Pro-Display-Semibold.otf');
  font-style: normal;
  font-weight: 600;
}
