@import 'functions';
@import 'variables';
@import 'fonts';
@import 'reset';

.section__title {
	font-family: 'Inter';
	font-weight: 600;
	font-size: vw(76);
	line-height: 100%;
	letter-spacing: vw(-2);
}
