@import 'functions';
@import 'variables';
@import 'fonts';
@import 'reset';

.section__title {
	font-family: 'Inter';
	font-weight: 600;
	// font-size: vmin(38);
	font-size: clamp(38px, 10vw, 76px);
	line-height: 100%;
	letter-spacing: vw(-2);
	@media screen and (min-width: 768px) {
		font-size: vw(76);
	}
}
