body {
  font-family: "SFPRO500";
  overflow-x: hidden;
}

// main {
//   display: flex;
//   width: 700vw;
//   height: 100vh;
//   overflow-x: hidden;
// }

.bg__white {
  background-color: $white;
}

.bg__black {
  background-color: $black;
}

.bg__gray {
  background-color: $light-gray;
}

.text__white {
  color: $white;
}

.text__black {
  color: $black;
}

.text__gray {
  color: #757575;
}

.text__light-gray {
  color: #afafaf;
}

.text__gradient {
  font-family: "SFPRO600";
  font-size: vw(38);
  line-height: 100%;
  letter-spacing: vw(-1);
  background: linear-gradient(90deg, #ff0000 0%, #ffe604 104.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  position: absolute;
  top: 100%;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  &:not(.section:first-child) {
    // margin-bottom: -2px;
    // padding-bottom: 2px;
  }
}
.section__subtitle {
  font-size: vw(18);
  line-height: 115%;
}
