body {
  font-family: 'SFPRO500';
  overflow-x: hidden;
}
.wrapper {
  overflow-x: hidden;
}
.content {
  overflow: hidden;
}
main {
  display: flex;
  width: 700vw;
  height: 100vh;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
  // height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;

}

.bg__white {
  background-color: $white;
}

.bg__black {
  background-color: $black;
}
.bg__gray {
  background-color: $light-gray;
}

.text__white {
  color: $white;
}

.text__black {
  color: $black;
}

.text__gray {
  color: #757575;
}
.text__light-gray {
  color: #AFAFAF;
}
.text__gradient {
  font-family: 'SFPRO600';
  font-size: vw(38);
  line-height: 100%;
  letter-spacing: vw(-1);
  background: linear-gradient(90deg, #FF0000 0%, #FFE604 104.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__title {
  font-family: 'SFPRO600';
  font-size: vw(76);
  line-height: 100%;
  letter-spacing: vw(-2);
}

.section__subtitle {
  font-size: vw(18);
  line-height: 115%;
}